import React, { useEffect, useState } from "react";
import axios from "axios";

function App() {
  const [msg, setMsg] = useState("");

  useEffect(() => {
    axios
      .get("http://127.0.0.1:5000/")   // calls Flask backend
      .then((res) => setMsg(res.data))
      .catch((err) => console.log(err));
  }, []);

  return (
    <div style={{ padding: "20px" }}>
      <h1>React + Flask Connection</h1>
      <h2>Backend Response:</h2>
      <p>{msg}</p>
    </div>
  );
}

export default App;